<h1>Burgers!</h1>

<h2>Burgers that are NOT consumed</h2>

<ul>
  {{#each burger}}
    {{#unless consumed}}
      {{> burgers/cat-block consumed=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that are CONSUMED!</h2>

<ul>
  {{#each burger}}
    {{#if consumed}}
      {{> cats/cat-block consumed=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="hamburg">Burger Name:</label>
    <input type="text" id="hamburg" name="name">
  </div>

  <div class="form-group">
    <label for="cons">Consumed?</label><br>
    <input type="radio" name="consumed" value="1" checked> Consumed!!<br>
    <input type="radio" name="consumed" value="0"> Available
  </div>

  <button type="submit">Add Burger</button>
</form>
